{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block style %}
  <!-- Add Materialize CSS link here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}

{% block index %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 style="text-align: center; font-weight: bolder; ">PROFILE</h2>

    <div class="container mt-2">
        <h4>Edit Profile</h4>

        <form method="post" action="{% url 'edit_profile' %}" class="col s12">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s12">
                    <label for="id_username">Username</label><br>
                    <input id="id_username" type="text" class="validate" name="username" value="{{ user.username }}">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="id_first_name">First Name</label><br>
                    <input id="id_first_name" type="text" class="validate" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="input-field col s6">
                    <label for="id_last_name">Last Name</label><br>
                    <input id="id_last_name" type="text" class="validate" name="last_name" value="{{ user.last_name }}">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="id_email">Email</label><br>
                    <input id="id_email" type="email" class="validate" name="email" value="{{ user.email }}">
                </div>
            </div>

            <button type="submit" class="btn waves-effect waves-light">Save Changes</button>
            <a href="{% url 'profile' %}" class="btn waves-effect waves-light">Cancel</a>
        </form>
    </div>
    <p>You can change your password <a href="{% url 'password_change' %}" style="color: rgb(69, 3, 73);font-size: 3vh;font-weight: bold;">Here</a> </p>

    <hr>

    <div class="container mt-3">
        <h2>Delete Account</h2>

        <p>Are you sure you want to delete your account? This action cannot be undone.</p>

        <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}

            <button type="submit" class="btn red">Delete</button>
            <a href="{% url 'profile' %}" class="btn">Cancel</a>
        </form>
        <br>
    </div>

</div>
{% endblock %}
