<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
            body {
                /* Specify a linear gradient background */
                /* background: linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
                /* background-image: linear-gradient(to left, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%); */

                background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
            }

    </style>
</header>