{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
{% load static %}
{% block index %}
{% endblock %}

{% block content %}
    <canvas id="myChart" width="50" height="20"></canvas>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Fragile', 'Non-Fragile'],
                datasets: [{
                    label: 'Item Count',
                    data: [{{ fragile_count }}, {{ non_fragile_count }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
